examples {
  ["full pod quadlet"] {
    """
    [Unit]
    Description=Test Pod
    After=network.target
    
    [Install]
    WantedBy=multi-user.target
    
    [Pod]
    PodName=test-pod
    Network=bridge
    PublishPort=8080:80
    PublishPort=8443:443
    Dns=8.8.8.8
    Dns=8.8.4.4
    DnsOption=ndots:2
    DnsSearch=example.com
    Hostname=test.local
    ExitPolicy=stop
    Volume=/var/log/test:/var/log:Z
    UserNS=keep-id
    GidMap=0:100000:65536
    UidMap=0:100000:65536
    NetworkAlias=test-alias
    AddHost=host1:192.168.1.1
    SecurityLabelType=container_t
    SecurityLabelDisable=no
    Label=app=test
    Label=environment=testing
    Annotation=test.key=test.value
    ShareNet=yes
    ShareIPC=yes
    ShareUTS=no
    SharePID=no
    InfraImage=registry.redhat.io/ubi8/pause:latest
    
    """
  }
  ["simple pod quadlet"] {
    """
    [Pod]
    PodName=simple-pod
    
    """
  }
}
